In [2]:
import os
import pandas as pd

# Display data
for file in os.listdir('data'):
    df = pd.read_csv(f'data/{file}')
    print(file.upper() + ':')
    print(df, df.columns, '\n')

FEATURES.CSV:
     feature_num  case_num                                       feature_text
0              0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1              1         0                 Family-history-of-thyroid-disorder
2              2         0                                     Chest-pressure
3              3         0                              Intermittent-symptoms
4              4         0                                        Lightheaded
..           ...       ...                                                ...
138          912         9                        Family-history-of-migraines
139          913         9                                             Female
140          914         9                                        Photophobia
141          915         9                          No-known-illness-contacts
142          916         9                                   Subjective-fever

[143 rows x 3 columns] Index(['feature_num', 'case_num', 'feature_text'], dtype='object')

SAMPLE_SUBMISSION.CSV:
          id         location
0  00016_000            0 100
1  00016_001              NaN
2  00016_002  200 250;300 400
3  00016_003              NaN
4  00016_004           75 110 Index(['id', 'location'], dtype='object')

TRAIN.CSV:
              id  case_num  pn_num  feature_num  \
0      00016_000         0      16            0
1      00016_001         0      16            1
2      00016_002         0      16            2
3      00016_003         0      16            3
4      00016_004         0      16            4
...          ...       ...     ...          ...
14295  95333_912         9   95333          912
14296  95333_913         9   95333          913
14297  95333_914         9   95333          914
14298  95333_915         9   95333          915
14299  95333_916         9   95333          916

                                     annotation              location
0              ['dad with recent heart attcak']           ['696 724']
1                 ['mom with "thyroid disease']           ['668 693']
2                            ['chest pressure']           ['203 217']
3          ['intermittent episodes', 'episode']  ['70 91', '176 183']
4      ['felt as if he were going to pass out']           ['222 258']
...                                         ...                   ...
14295                                        []                    []
14296                                        []                    []
14297                              ['photobia']           ['274 282']
14298                      ['no sick contacts']           ['421 437']
14299                      ['Subjective fever']           ['314 330']

[14300 rows x 6 columns] Index(['id', 'case_num', 'pn_num', 'feature_num', 'annotation', 'location'], dtype='object')

TEST.CSV:
          id  case_num  pn_num  feature_num
0  00016_000         0      16            0
1  00016_001         0      16            1
2  00016_002         0      16            2
3  00016_003         0      16            3
4  00016_004         0      16            4 Index(['id', 'case_num', 'pn_num', 'feature_num'], dtype='object')

PATIENT_NOTES.CSV:
       pn_num  case_num                                         pn_history
0           0         0  17-year-old male, has come to the student heal...
1           1         0  17 yo male with recurrent palpitations for the...
2           2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3           3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4           4         0  17yo male with no pmh here for evaluation of p...
...       ...       ...                                                ...
42141   95330         9  Ms. Madden is a 20 yo female presenting w/ the...
42142   95331         9  A 20 YO F CAME COMPLAIN A DULL 8/10 HEADACHE T...
42143   95332         9  Ms. Madden is a 20yo female who presents with ...
42144   95333         9  Stephanie madden is a 20 year old woman compla...
42145   95334         9  patient is a 20 yo F who presents with a heada...

[42146 rows x 3 columns] Index(['pn_num', 'case_num', 'pn_history'], dtype='object')

Transformers: Eliminate recurrent connections, returning to fully-connected adjacent architectures
- Self-attention layers: Extract info from large contexts
- When processing each item in the input, the model has access to all of the inputs up to and including the one under consideration, but no access to "information about inputs" beyond the current one

It is like RNN but RNN uses sequential rather than parallalization therefore RNN is more computationally expensive.

Try glove embedding space (because only 14k training samples) --> gives word vectors context

In [4]:
from architecture import SelfAttention

ModuleNotFoundError: No module named 'torch'

In [5]:
notes = pd.read_csv('data/patient_notes.csv')
X = notes
train = pd.read_csv('data/train.csv')
train

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']
...,...,...,...,...,...,...
14295,95333_912,9,95333,912,[],[]
14296,95333_913,9,95333,913,[],[]
14297,95333_914,9,95333,914,['photobia'],['274 282']
14298,95333_915,9,95333,915,['no sick contacts'],['421 437']
14299,95333_916,9,95333,916,['Subjective fever'],['314 330']

In [6]:
train.agg()

TypeError: Must provide 'func' or tuples of '(column, aggfunc).

In [7]:
notes.iloc[16]['pn_history'][668:693]
notes

       pn_num  case_num                                         pn_history
0           0         0  17-year-old male, has come to the student heal...
1           1         0  17 yo male with recurrent palpitations for the...
2           2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3           3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4           4         0  17yo male with no pmh here for evaluation of p...
...       ...       ...                                                ...
42141   95330         9  Ms. Madden is a 20 yo female presenting w/ the...
42142   95331         9  A 20 YO F CAME COMPLAIN A DULL 8/10 HEADACHE T...
42143   95332         9  Ms. Madden is a 20yo female who presents with ...
42144   95333         9  Stephanie madden is a 20 year old woman compla...
42145   95334         9  patient is a 20 yo F who presents with a heada...

[42146 rows x 3 columns]

In [12]:
features = pd.read_csv('data/features.csv')
features

     feature_num  case_num                                       feature_text
0              0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1              1         0                 Family-history-of-thyroid-disorder
2              2         0                                     Chest-pressure
3              3         0                              Intermittent-symptoms
4              4         0                                        Lightheaded
..           ...       ...                                                ...
138          912         9                        Family-history-of-migraines
139          913         9                                             Female
140          914         9                                        Photophobia
141          915         9                          No-known-illness-contacts
142          916         9                                   Subjective-fever

[143 rows x 3 columns]

In [13]:
'asdfs'[3]

'f'

In [14]:
train

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']
...,...,...,...,...,...,...
14295,95333_912,9,95333,912,[],[]
14296,95333_913,9,95333,913,[],[]
14297,95333_914,9,95333,914,['photobia'],['274 282']
14298,95333_915,9,95333,915,['no sick contacts'],['421 437']
14299,95333_916,9,95333,916,['Subjective fever'],['314 330']

In [15]:
features

     feature_num  case_num                                       feature_text
0              0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1              1         0                 Family-history-of-thyroid-disorder
2              2         0                                     Chest-pressure
3              3         0                              Intermittent-symptoms
4              4         0                                        Lightheaded
..           ...       ...                                                ...
138          912         9                        Family-history-of-migraines
139          913         9                                             Female
140          914         9                                        Photophobia
141          915         9                          No-known-illness-contacts
142          916         9                                   Subjective-fever

[143 rows x 3 columns]

In [18]:
train['feature_num']

143

In [106]:
data = train.merge(features[['feature_num', 'feature_text']], on='feature_num')
X = data['annotation']#.apply(lambda x: x.maketrans('', '', 'd'))
for x in X:
    x[0].maketrans('', '', 'd')
print(X)
# print(list(map(lambda x: x.maketran(''), X)))
# print(list(map(lambda x: [[x.replace(c, '') for c in '[]']][-1], X)))

# def cleany(x):
    
y = data['feature_text']
print(X, '\n\n', y)

0        ['dad with recent heart attcak']
1                                      []
2                ['father: heart attack']
3                           ['Father MI']
4                              ['Dad-MI']
                       ...
14295                ['subjective fever']
14296                                  []
14297                      ['feels warm']
14298                       ['Felt warm']
14299                ['Subjective fever']
Name: annotation, Length: 14300, dtype: object
0        ['dad with recent heart attcak']
1                                      []
2                ['father: heart attack']
3                           ['Father MI']
4                              ['Dad-MI']
                       ...
14295                ['subjective fever']
14296                                  []
14297                      ['feels warm']
14298                       ['Felt warm']
14299                ['Subjective fever']
Name: annotation, Length: 14300, dtype: object

 0        Family-history-of-MI-OR-Family-history-of-myoc...
1        Family-history-of-MI-OR-Family-history-of-myoc...
2        Family-history-of-MI-OR-Family-history-of-myoc...
3        Family-history-of-MI-OR-Family-history-of-myoc...
4        Family-history-of-MI-OR-Family-history-of-myoc...
                               ...
14295                                     Subjective-fever
14296                                     Subjective-fever
14297                                     Subjective-fever
14298                                     Subjective-fever
14299                                     Subjective-fever
Name: feature_text, Length: 14300, dtype: object